$light-grey: #d0d0d0;
$grey: #ccc;
$chocolate: #886767;
$dark-chocolate: #665555;
$shallow-box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
$shallow-box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
$orange: #e97451;
$red: #df0000;
$background-transiton: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
$color-transiton: color 0.2s ease-out;
